.box button {
  width: 64%;
  height: 10%;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: lighter;
  margin-top: 40%;
  transition: ease-out 0.2s;
}

/* COLORS EFECT */

.box #btn1 {
  color: hsl(31, 77%, 52%);
}

.box #btn1:hover {
  cursor: pointer;
  background: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.box #btn2 {
  color: hsl(184, 100%, 22%);
}

.box #btn2:hover {
  cursor: pointer;
  background: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.box #btn3 {
  color: hsl(179, 100%, 13%);
}

.box #btn3:hover {
  cursor: pointer;
  background: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

@media (max-width: 768px) {
  .box button {
    margin-top: 40px;
    width: 60%;
    height: 13%;
    font-size: 17.3333px;
  }
}

@media (max-width: 375px) {
  .box button {
    margin-top: 10px;
    width: 65%;
    height: 14%;
    font-size: 13.3333px;
  }
}
