.box #card-1,
#card-2,
#card-3 {
  padding: 50px;
  height: 410px;
}

.box #card-1 {
  background: hsl(31, 77%, 52%);
  width: 33.3%;
  border-radius: 10px 0px 0px 10px;
}

.box #card-2 {
  background: hsl(184, 100%, 22%);
  width: 33.3%;
}

.box #card-3 {
  background: hsl(179, 100%, 13%);
  width: 33.3%;
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 375px) {
  .box #card-1 {
    width: 68%;
    border-radius: 10px 10px 0px 0px;
    height: 333px;
    padding-top: 40px;
  }
  .box #card-2 {
    width: 68%;
    height: 333px;
    padding-top: 40px;
  }
  .box #card-3 {
    width: 68%;
    border-radius: 0px 0px 10px 10px;
    height: 333px;
    padding-top: 40px;
  }
}
